/*
 * CSS file for mobile site
 */

nav {
  background-color: white;
  color: #c0b283;
}

header nav a {
  color: #c0b283;
} 
.page-footer {
  background-color: lightgray;
}
.page-footer .footer-copyright{
  color: black;
}

.bottom-nav-page-spare {
  height: 53
}

header .brand-logo {
  color: #c0b283;
  font-size: 1.2rem;
  padding-top: 7.5px;
}

header nav .button-collapse {
  margin: 0px;
}

main {
  /*background-color: white;*/
  background: linear-gradient(to right, #d9d9d9, #f2f2f2);
  flex: 1 0 auto;
}

.icon {
  width: 24px;
}

#basket {
  position: absolute;
  right: 0px;
  top: 15px;
}

svg#basket {
  fill: #c0b283;
}

.page-container {
  /*height: 100%;*/
  /*height: calc( 100% - 53px - 56px );*/
  height: calc( 100% - 56px );
  overflow: auto;
}

header nav a span {
  color: white;
  position: absolute;
  right: 8px;
  top: 5px;
/* if shopping_basket is using material-icon
  left: 8px;
  top: 5px;*/
}

nav .page-title {
  font-style: bold;
  text-align: center;
}

.nav-content.row {
  margin-bottom: 0px !important;
}

.bottom-nav {
  position: fixed;
  bottom: 0px;
  color: white;
  margin-bottom: 0;
  padding: 4 0;
  width: 100%;
  z-index: 996;
}

a {
  color: gray;
}
/*footer.page-footer {
  background-color: #c0b283;
}*/

.footer-copyright {
  font-size: .8rem;
  min-height: 0px !important;
  padding: 3px !important;
}

.gold {
  background-color: #c0b283;
}

.gold-text {
  color: #c0b283;
}

#modal-chat .row.modal-footer {
  margin-bottom: 0;
}

#side-nav .collapsible-body{
  padding: 0px 28px;
}


/* fixed overlaying FAB chat button with side-nav */
.fixed-action-btn {
  z-index: 996;
}


.col.s2point4 {
  width: 20%;
}

.welcome-banner {
  background-color: lightgreen;
  height: 100%;
  /*height: calc( 100% - 53px - 56px );*/
  /*height: calc( 100% - 53px );*/
  overflow: hidden;
  margin-bottom: 20;
}

/*product-card*/

.card {
  /*position: relative;*//* for floating buttons in card*/
  padding: .8rem !important;
  /*background-color: #ffd;*/
}

.card h5 {
  font-size: 1.3rem;
  line-height: 110%;
  margin: 0.82rem 0 0.6rem 0;
}

/* TABLET */
@media only screen and (min-width: 601px) {
  .flip-container {
    height: 60vw;
  }
/*  .card {
    margin-left: .5rem;
    margin-right: .5rem;
  }*/
}

/* DESKTOP */
@media only screen and (min-width: 993px) {
  .card h5 {
    font-size: 1.1rem;
  }
  .card h5.truncate {
    overflow: hidden;
    max-width: 120;
  }
  .flip-container {
    height: 35vw;
  }
}

/* SMARTPHONE */
@media only screen and (max-width: 600px) {
  .flip-container {
    height: 130vw;
  }
/*.card {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
  } */
}

.btn {
  min-height: 44px
}

.card img {
  width: 100%;
}

.card img.flipped {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: alpha(opacity=20) grayscale(100%);
  opacity: 0.2;
}

.card .icon i {
  padding: 10;
}

.card-desc {
  clear: left;
  font-size: 0.7rem;
}
/*modal, especially for datepicker to fit in product's modal*/
/*.modal {
  min-height: 85%;
}

@media only screen and (max-width: 992px) {
  .modal {
    width: 90%;
  }
}
*/
/*product-card with grid style*/
/*
.product-card {
  position: relative;
  padding: .2rem !important;
}

.product-card span {
  color: black;
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5% 7%;
  z-index: 2;
}

.product-card a {
  color: grey;
  position: absolute;
  padding: 5%;
  top: 0;
  right: 0;
  z-index: 2;
}

.overlay {
  background: linear-gradient(to top, white, rgba(255,255,255,.8), rgba(255,0,0,0));
  bottom: 0;
  left: 0;
  right: 0;
  top: 60%;
  position: absolute;
  z-index: 1;
}
*/

.shortcuts {
  color: black;
  background-color: #c0b283;
  padding: 15px !important;
  /*border: 1px solid grey;*/
}


/*fixed footer*/

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}


.fullwidth {
  width: 100%;
}

.caution-box {
  padding: 10px;
  background-color: #E0E1E0;
}

.caution-box i {
  font-size: 1.2rem;
}


/* date input in product*/
#deliveryDate {
  width: 100px;
  /*border-bottom: 0;*/
}

/*datepicker
.picker__date-display {
  display: none;
}
.picker--opened .picker__frame {
  top: 4rem;
}


/* noUiSlider - Materialize Styles */

.noUi-target{
  background: #cdcdcd;
  border: 1px solid transparent;
}
.noUi-handle {
  box-shadow: inset 0 0 1px #FFF,
  inset 0 1px 7px #EBEBEB,
  0 3px 6px -3px #BBB;
}

.noUi-active {
  box-shadow: inset 0 0 1px #FFF,
  inset 0 1px 7px #DDD,
  0 3px 6px -3px #BBB;
}

.noUi-tooltip{
  border: 1px solid transparent;
}




.noUi-target {
  border: 0;
  border-radius: 0;
}
.noUi-horizontal {
  height: 3px;
}
.noUi-vertical {
  height: 100%;
  width: 3px;
}
.noUi-horizontal .noUi-handle,
.noUi-vertical .noUi-handle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-shadow: none;
  background-color: #26A69A;
  border: none;
  left: -5px;
  top: -6px;
  transition: width .2s cubic-bezier(0.215, 0.610, 0.355, 1.000),
  height .2s cubic-bezier(0.215, 0.610, 0.355, 1.000),
  left .2s cubic-bezier(0.215, 0.610, 0.355, 1.000),
  top .2s cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
.noUi-handle:before {
  content: none;
}
.noUi-handle:after {
  content: none;
}
.noUi-target .noUi-active.noUi-handle {
  width: 3px;
  height: 3px;
  left: 0;
  top: 0;
}
.noUi-target.noUi-horizontal .noUi-tooltip {
  position: absolute;
  height: 30px;
  width: 30px;
  top: -17px;
  left: -2px;
  background-color: #26A69A;
  border-radius: 50%;
  transition: border-radius .25s cubic-bezier(0.215, 0.610, 0.355, 1.000),
  transform .25s cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transform: scale(.5) rotate(-45deg);
  transform-origin: 50% 100%;
}
.noUi-target.noUi-horizontal .noUi-active .noUi-tooltip {
  border-radius: 15px 15px 15px 0;
  transform: rotate(-45deg) translate(23px, -25px);
}
.noUi-tooltip span {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 12px;
  opacity: 0;
  position: absolute;
  top: 6px;
  left: -1px;
  transition: opacity .25s cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
.noUi-horizontal .noUi-tooltip span {
  transform: rotate(45deg);
}
.noUi-vertical .noUi-tooltip span {
  transform: rotate(135deg);
}
.noUi-target.noUi-vertical .noUi-tooltip {
  position: absolute;
  height: 30px;
  width: 30px;
  top: -17px;
  left: -2px;
  background-color: #26A69A;
  border-radius: 50%;
  transition: border-radius .25s cubic-bezier(0.215, 0.610, 0.355, 1.000),
  transform .25s cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transform: scale(.5) rotate(-45deg);
  transform-origin: 50% 100%;
}
.noUi-target.noUi-vertical .noUi-active .noUi-tooltip {
  border-radius: 15px 15px 15px 0;
  transform: rotate(-135deg) translate(35px, -10px);
}
.noUi-vertical .noUi-tooltip span {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 12px;
  transform: rotate(135deg);
  opacity: 0;
  position: absolute;
  top: 7px;
  left: -1px;
  transition: opacity .25s cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
.noUi-horizontal .noUi-active .noUi-tooltip span,
.noUi-vertical .noUi-active .noUi-tooltip span {
  opacity: 1;
}

/* COMMA-SEPARATED INPUT WORK-AROUND*/
div[comma-value]{
  position:relative;
}
div[comma-value]:before{
  content: attr(comma-value);
  position:absolute;
  left:0; top: 11;
}
div[comma-value] input{
  color: transparent;
}

#category {
  padding-top: 30;
}

.home-category {
  position: relative;
  margin-bottom: 20;
}

.home-category span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20pt;
  text-align: center;

  text-shadow: 2px 1.5px black;
}

.home-category img {
  background-blend-mode: color-burn;
}

.home-category:hover span {
  font-size: 25pt;
/*  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;*/

}
.home-category:hover img {
  background-blend-mode: unset;
}

img.img {
  background-size: contain;
  background-color: #ccc;
  width: 100%;
  padding-top: 100%;
}

img.img-romantic {
  background-image: url(https://scontent-sin6-2.cdninstagram.com/vp/bd02d6b0db0eac916a12bef87f8d8d9a/5B3B8A65/t51.2885-15/s640x640/sh0.08/e35/26865879_200824560496652_6082032582898221056_n.jpg);
  background-size: 120%;
  background-position: -20 -24;
}
img.img-graduation {
  background-image: url(https://scontent-sin6-2.cdninstagram.com/vp/87e9fbd845554738508db41356fdff7c/5B351A37/t51.2885-15/e35/13397653_735340299902715_1356368638_n.jpg);
  background-size: cover;
  background-position: -35 0;
}
img.img-wedding {
  background-image: url(https://scontent-sin6-2.cdninstagram.com/vp/02d1a2f6c631225eccaa10cd1759c2eb/5B36F33C/t51.2885-15/s640x640/sh0.08/e35/29403124_1561000504016375_4672128844075892736_n.jpg);
  background-size: 150%;
  background-position: -60 0;
}
img.img-decor {
  background-image: url(https://scontent-sin6-2.cdninstagram.com/vp/0b5348971616659930208c801802e46f/5B5A6604/t51.2885-15/s640x640/sh0.08/e35/29403433_612707559072230_6762179983235350528_n.jpg);
}
img.img-any-occasion {
  background-image: url(http://h7.alamy.com/comp/F0HKX1/happy-birthday-message-card-with-gift-box-and-pink-roses-F0HKX1.jpg);
  background-size: cover;
  background-size: 160%;
  background-position: -106px 0px;
}
img.img-budget {
  background-image: url(https://scontent-sin6-2.cdninstagram.com/vp/370c430702d759500fe43555e79d6888/5B59D238/t51.2885-15/s640x640/sh0.08/e35/24332420_1902362553410590_4122114318537850880_n.jpg);
}

