/*
 * CSS file for mobile site
 */

nav {
  background-color: #fff;
}

header nav a {
  color: #c0b283;
} 
.page-footer {
  background-color: lightgray;
}
.page-footer .footer-copyright{
  color: black;
}

.bottom-nav-page-spare {
  height: 53;
}

header .brand-logo {
  color: #c0b283;
  font-size: 1.2rem;
  padding-top: 7.5px;
}

header nav .button-collapse {
  margin: 0px;
}

.flex {
  display: flex;
}

.overflow-scroll {
  overflow: scroll;
}

.icon-btn {
  padding: 10;
  font-size: 24px;
  width: 44;
}

#basket {
  position: absolute;
  right: 0px;
  top: 15px;
}

svg#basket {
  fill: #c0b283;
}

.page-container {
  /*height: 100%;*/
  /*height: calc( 100% - 53px - 56px );*/
  /*height: calc( 100% - 56px );*/
  /*overflow: auto;*/
}

header nav a span {
  color: white;
  position: absolute;
  right: 8px;
  top: 5px;
}

nav .page-title {
  font-style: bold;
  text-align: center;
}

.nav-content.row {
  margin-bottom: 0px !important;
}

.bottom-nav {
  position: fixed;
  bottom: 0px;
  color: white;
  margin-bottom: 0;
  padding: 4 0;
  width: 100%;
  z-index: 996;
}

a {
  color: gray;
}
/*footer.page-footer {
  background-color: #c0b283;
}*/

.footer-copyright {
  font-size: .8rem;
  min-height: 0px !important;
  padding: 3px !important;
}

.gold {
  background-color: #c0b283;
}

.gold-text {
  color: #c0b283;
}

#modal-chat .row.modal-footer {
  margin-bottom: 0;
}

#side-nav .collapsible-body{
  padding: 0px 28px;
}


/* fixed overlaying FAB chat button with side-nav */
.fixed-action-btn {
  z-index: 996;
}


.col.s2point4 {
  width: 20%;
}

/*product-card*/

.card {
  /*position: relative;*//* for floating buttons in card*/
  padding: .8rem !important;
}

.card h5 {
  font-size: 1.3rem;
  line-height: 110%;
  margin: 0.82rem 0 0.6rem 0;
}

/* TABLET */
@media only screen and (min-width: 601px) and (max-width: 992px) {
 /* .flip-container {
    height: 60vw;
  }*/
}

/* DESKTOP */
@media only screen and (min-width: 993px) {
  .card h5 {
    font-size: 1.1rem;
  }
  .card h5.truncate {
    overflow: hidden;
    max-width: 120;
  }
 /* .flip-container {
    height: 35vw;
  }*/
}

/* SMARTPHONE */
@media only screen and (max-width: 600px) {
/*  .flip-container {
    height: 130vw;
  }*/
/*.card {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
  } */
}
/*.flip-container {
  padding-top: 100%;
}*/


.btn {
  min-height: 44px
}

.card img {
  width: 100%;
}

.card img.flipped {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: alpha(opacity=20) grayscale(100%);
  opacity: 0.2;
}

.card-desc {
  clear: left;
  font-size: 0.7rem;
}
/*modal, especially for datepicker to fit in product's modal*/
/*.modal {
  min-height: 85%;
}

@media only screen and (max-width: 992px) {
  .modal {
    width: 90%;
  }
}
*/
/*product-card with grid style*/
/*
.product-card {
  position: relative;
  padding: .2rem !important;
}

.product-card span {
  color: black;
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5% 7%;
  z-index: 2;
}

.product-card a {
  color: grey;
  position: absolute;
  padding: 5%;
  top: 0;
  right: 0;
  z-index: 2;
}

.overlay {
  background: linear-gradient(to top, white, rgba(255,255,255,.8), rgba(255,0,0,0));
  bottom: 0;
  left: 0;
  right: 0;
  top: 60%;
  position: absolute;
  z-index: 1;
}
*/

.shortcuts {
  color: black;
  background-color: #c0b283;
  padding: 15px !important;
  /*border: 1px solid grey;*/
}

/*main {
  flex: 1 0 auto;
}*/
/* end of fixed footer */

#search-header {
  position: fixed;
  width: 100%;
  z-index: 990;
}

.fullwidth {
  width: 100%;
}

.caution-box {
  padding: 10px;
  background-color: #E0E1E0;
}

.caution-box i {
  font-size: 1.2rem;
}


/* date input in product*/
#deliveryDate {
  width: 100px;
  /*border-bottom: 0;*/
}

/*datepicker
.picker__date-display {
  display: none;
}
.picker--opened .picker__frame {
  top: 4rem;
}



/* COMMA-SEPARATED INPUT WORK-AROUND*/
div[comma-value]{
  position:relative;
}
div[comma-value]:before{
  content: attr(comma-value);
  position:absolute;
  left:0; top: 11;
}
div[comma-value] input{
  color: transparent;
}

input.search-input {
  border: none;
  margin: 0;
  flex-grow: 1;
  color: black;
  height: 56px;
  font-size: 18px;
}
input.search-input:focus {
  border: none !important;
  box-shadow: none !important;
}

.search-options {
  margin-bottom: 19;
}

.search-options .list {
  font-weight: 200;
  margin: 0 20px;
  padding: 8px 0;
  border-bottom: 1px solid lightgray;
}

.search-param-options {
  overflow-x: scroll;
  white-space: nowrap;
  /*min-height: 49px;*/
}

.search-param-options .chip {
  margin-bottom: 0;
}

.color-bubble {
  height: 44;
  width: 44;
  padding: 8;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10;
  vertical-align: baseline;
}
/*.color-bubble.white {
  border: 1px solid lightgray;
}*/

nav i.icon-btn {
  padding: 0;
  color: black;
}

/*#search-modal-trigger {
  background-color: white;
  border-radius: 14px;
  border-bottom: .5px solid;
  align-items: center;
}*/

.add-to-cart-container {
  float: right;
  position: relative;
}
.add-to-cart-plus {
  position: absolute;
  top: 0;
  right: 8px;
  font-size: 20px;
  color: seagreen;
  text-shadow: 1px 1px #1a462d;
}

#search-modal {
  position: absolute;
  top: 56;
  z-index: 990;
  height: calc(100vh - 56px);
  max-width: 100%;
}

.wide-cta-btn {
  width: 100%;
  position: fixed;
  bottom: 0;
}

.search-modal-enter {
  opacity: 0.01;
  transform: translateY(-100%);
}
.search-modal-enter-active {
  opacity: 1;
  transform: translateY(0%);
  transition: all 300ms ease-out;
}
.search-modal-exit {
  opacity: 1;
  transform: translateY(0%);
}
.search-modal-exit-active {
  opacity: 0.01;
  transform: translateY(-100%);
  transition: all 300ms ease-out;
}

body {
  background-image: url(http://cdn.backgroundhost.com/backgrounds/subtlepatterns/white_sand.png);
  z-index: -2;
}

main, nav, .navbar-fixed, #search-header,
.wide-cta-btn {
  max-width: 30rem;
  margin: 0 auto;
}

